[Desktop Entry]
Name=HEFS-FEWS Dashboard
Type=Application
Exec=/opt/hefs_fews_dashboard/start_dashboard.sh
Terminal=false
Icon=/opt/hefs_fews_dashboard/index_getting_started.svg