[Desktop Entry]
Name=Launch HEFS-FEWS Dashboard
Type=Application
Exec=/home/jovyan/hefs_fews/start_dashboard.sh
Terminal=false
Icon=/home/jovyan/hefs_fews/index_getting_started.svg